.background{
  position: relative;
  min-height: 80vh;
  width: 100%;
  transform-style: inherit;
}

.background::before{
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url("images/Facade.jpg") top center;
  background-size: cover;
  transform: translateZ(-.5px) scale(1.6);
  z-index: -1;
}

h1{
  font-size: 2rem;
  color: rgb(93, 151, 213);
  margin-bottom: 2rem;
}
#history{
  position: relative;
  transform-style: inherit;
  padding:7rem 10% 10rem 10%;
  background-color: rgb(3, 9, 24);
  color: white;
  box-shadow: 0 0 40px #000000;
  z-index: 1;
}

#history p {
  font-size: 1.2rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}

#booking{
  padding:8rem 10%;
  background-color: rgb(3, 9, 24);
  position: relative;
  transform-style: inherit;
  box-shadow: 0 0 40px #000000;
  z-index: 1;
}


#booking-form ul{
  display: block;
  width:100%;
}


h2{
  font-size: 2.5rem;
  color: rgb(93, 151, 213);
  margin-bottom: 4rem;
  font-weight: lighter;
}
#booking-form input, textarea, select{
  background-color: rgb(93, 151, 213);
  color: rgb(3, 9, 24);
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  width: 100%;
}

input::placeholder{
  color:rgb(3, 9, 24);
  font-size: 1rem;
  font-weight: bolder;
}
  
    textarea{
      min-height: 10rem;
      display: block;
      box-sizing: border-box;
      
    }
    textarea::placeholder{
      color:rgb(3, 9, 24);
      font-size: 1rem;
      font-weight: bolder;
    }
  
    textarea:focus, input:focus{
      outline: none;
    }
    .confirm-booking{
      display: none;
      color: white;
      font-size: 1.2rem;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
    }

    #booking-button{
      border-radius: 5px; 
      border: solid rgb(93, 151, 213) 2px;
      background-color: rgb(3, 9, 24);
      color: white;
      font-size: 1.2rem;
      font-weight: bolder;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
    }

    /*view for smaller device */
    @media only screen and (min-width: 900px) {
      h1{
        font-size: 3rem;
      }
      #booking-form{
        max-width: 60rem;
        margin: auto;
      }
      #booking-form ul{
        display: inline-block;
        width:48%;
      }
      #booking-ul-left{
        float: left;
      }
      #booking-ul-right{
        float: right;
      }
    }

