*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
}

.background{
  position: relative;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
}

.background::before{
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url("images/Facade.jpg") top center;
  background-size: cover;
  transform: translateZ(-.5px) scale(1.6);
  z-index: -1;
}
.divider{
  height: 0.7rem;
  background-color: rgb(91, 121, 160);
}
h1{
  font-size: 3rem;
  color: rgb(91, 121, 160);
  margin-bottom: 2rem;
}
#history{
  position: relative;
  transform-style: inherit;
  padding:5rem 15rem 7rem 15rem;
  background-color: rgb(3, 9, 24);
  color: white;
  box-shadow: 0 0 40px #000000;
  z-index: 1;
}

#history p {
  font-size: 1.2rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}

#booking-form{
  background-color: rgb(3, 9, 24);
  color: white;
  position: relative;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
  box-shadow: 0 0 40px #000000;
  z-index: 1;
}
#my-form {
    padding-top: 2em;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 15px;
    width: 50%;
    margin: auto;
  
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
    
  }
  
  .flex-outer li button {
      margin-left: auto;
      padding: 8px 16px;
      border: none;
      background: #D9EECE;
      color: #226800;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .09em;
      border-radius: 2px;
    }
  
    .flex-inner li {
      width: 100px;
    }
  
    .flex-inner {
      justify-content: space-evenly;
    }
  
    textarea{
      min-height: 10em;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  
    textarea:focus, input:focus{
      outline: none;
    }