/* stylesheet reset default values */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
*{
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
}

.divider{
    height: 0.7rem;
    background-color: rgb(93, 151, 213);
  }

/* Style for header */
.main-header{
    width: 100%;
    height: 40rem;
    background: url("images/bar-banner.png");
}  
.main-header__brand {
    text-decoration: none;
    font-weight: bold;
}
#logo-img{
    width:10rem;
    height:10rem;
    margin-right: 2.5rem;
}
.main-nav{
    display: block;
    width: 100%;
    height: 40rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%);
    position: relative;
    padding: 2.5rem 3rem 0 2.5rem;
}
.main-nav__items{
    display: inline-block;
    list-style: none; 
}
#nav-left{
    float: left;
    display: flex;
}
#nav-right{
    float: right;
    display: flex;
}
.main-nav__item{
    display: flex;
    margin: 0 1rem; 
    vertical-align: top;   
}
.main-nav__item a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.main-nav__item a:hover{
    font-weight: bold;
    font-size: 1.8rem;
}

/* style for footer */
footer{
    background-color: rgb(3, 9, 24);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:4rem 0;
    flex-direction: column;
}
.footer-section{
    display: flex;
    margin-bottom: 5rem;
    width: 90%;
    justify-content: center;
}
#footer-logo{
    width:100%;
    height: 100%;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 17rem;
    max-height: 17rem;
}
footer h3{
    font-size: 1.6rem;
    font-weight: lighter;
    color: rgb(93, 151, 213);
    margin-top: 3rem;
}
footer p {
    color: white;
    margin-top: 1rem;
    font-weight: lighter;
}

/*view for smaller device */
@media only screen and (min-width: 900px) {

    /* footer */
    footer {
        flex-direction: row;
    }
    #footer-logo{
        width:100%;
        height: 100%;
        max-width: 24rem;
        max-height: 24rem;
    }
  }



/* .mobile-nav {
    display:none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: lightblue;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    text-align: centre;
}

.mobile-nav__item{
    margin:1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
} */

