body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}



*{
    font-family: 'Montserrat', sans-serif;
}
/* Style for header */
.main-header{
    width: 100%;
    height: 40rem;
    background: url("images/bar-banner.png");
}  
.main-header__brand {
    text-decoration: none;
    font-weight: bold;
}
#logo-img{
    width:14rem;
    height:12rem;
}
.main-nav{
    display: block;
    width: 100%;
    height: 35rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background-clip: text;
    color: transparent;
    position: relative;
    padding-top: 2rem;
}
.main-nav__items{
    display: inline-block;
    list-style: none; 
    
}
#nav-left{
    float: left;
    
}
#nav-right{
    float: right;
}
.main-nav__item{
    display: inline-block;
    margin: 0 1rem; 
    vertical-align: top;
    
}
.main-nav__item a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.main-nav__item a:hover{
    font-weight: bold;
    font-size: 1.8rem;
}
.main-nav__item a:active{
    font-weight:bolder;
    font-size: 1.8rem;
}

footer{
    background-color: rgb(3, 9, 24);
}

.footer-section{
    display: inline-block;
    color: white;
}
#footer-logo{
    width: 15rem;
    height:15 rem;
}





.mobile-nav {
    display:none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: lightblue;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    text-align: centre;
}

.mobile-nav__item{
    margin:1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}


